@import "./variables.scss";

.filmitWrapper {
  height: 100%;
  p {
    color: $white;
  }
  .gridFilmit {
    display: grid;
    grid-template-areas:
      "title title"
      "header header"
      "desc1 img1"
      "img2 desc2"
      "desc3 img3"
      "img4 desc4";
    img {
      max-width: 100%;
      height: 100%;
      object-fit: contain;
    }
    .title {
      grid-area: title;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h2 {
        font-weight: 700;
        font-size: 2rem;
      }
      p {
        width: 50vw;
      }
    }
    .header {
      grid-area: header;
    }
    .desc {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h2 {
        font-weight: 700;
        font-size: 2rem;
      }
      p {
        width: 50%;
      }
      @media (max-width: 800px) {
        h2 {
          font-size: 1rem;
        }
        p {
          font-size: 0.8rem;
        }
      }
      @media (max-width: 400px) {
        h2 {
          font-size: 0.7rem;
        }
        p {
          font-size: 0.6rem;
        }
      }
    }
    .desc1 {
      grid-area: desc1;
    }
    .imgPreview1 {
      grid-area: img1;
    }
    .imgPreview2 {
      grid-area: img2;
    }
    .desc2 {
      grid-area: desc2;
    }
    .desc3 {
      grid-area: desc3;
    }
    .imgPreview3 {
      grid-area: img3;
    }
    .imgPreview4 {
      grid-area: img4;
    }
    .desc4 {
      grid-area: desc4;
    }
  }
}
