// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
// Variables
@import "./variables.scss";
$open-sans: 'Open Sans', sans-serif;
// Styles
@import "./header.scss";
@import "./main.scss";

body {
    background: $purple;
    color:$white;
    font-family: $open-sans;
}

p{
    color: $pink;
}
