// Variables
@import "./variables.scss";
$open-sans: "Open Sans", sans-serif;
// Styles
@import "./header.scss";
@import "./main.scss";
@import "./moviedb.scss";
@import "./filmit.scss";
@import "./sailors.scss";
@import "./templesmash.scss";
@import "./simplehtmlcss.scss";

body {
  background: $purple;
  color: $white;
  font-family: $open-sans;
  a {
    color: $white;
    text-decoration: none;
  }
}
p {
  color: $pink;
}
h2 {
  margin: 0;
  padding: 0;
}
.mainButton {
  margin-top: 2%;
  background: $pink;
  padding: 20px;
  cursor: pointer;
}
